/* Import the Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/* Body styles */
body {
    background-color: #f5f5f5;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;

    display: flex;
    flex-direction: column;
    min-height: 100vh;

    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

/* Header styles */
header {
    background-color: #4285f4;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 36px;
    font-weight: 500;
    margin: 0;
}

/* Main content styles */
main {
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin: 20px auto;
    max-width: 960px;
    padding: 20px;
    text-align: center;

    flex-grow: 1;

}

.cont {
    margin-top: 40%;
    margin-left: 18px;
    margin-right: 18px;
}

a {
    color: #4285f4;
    margin: auto;
}

p {
    font-size: 18px;
    margin: 20px 0;
}

img {
    display: block;
    margin: 0 auto 32px auto;
    max-width: 15%;
    height: auto;
    max-height: 50vh;
}

/* Footer styles */
footer {
    background-color: #f5f5f5;
    color: #333;
    padding: 20px;
    text-align: center;

    margin-top: auto;
}

footer a {
    color: #4285f4;
    text-decoration: none;
}

.big-button {
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #477ae5;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
}

.big-button:hover {
    background: #1d49aa;
}

.big-button:focus {
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
}

.red-button {
    background: #e54754;
}

.red-button:hover {
    background: #aa1d1d;
}

.red-button:focus {
    box-shadow: 0 0 0 4px #eecbcf;
}